{% if p.hasToPaginate %}
    {# Vytvoření odkazu #}
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    {# odkazy na stránky #}
    <ul class="pagination justify-content-center">
        {# pokud existuje předchozí stránka, přejděme na ni. #}
        {% if p.hasPreviousPage %}
            <li class="page-item">
                <a class="page-link" href="{{ currentPath }}?page={{ p.previousPage }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            {# pokud ne, vypněme ji #}
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {# Limit počtu zobrazených stránek v řádku #}
        {% set limit = 5 %}
        {# Pokud je aktuální stránka větší než limit, posune se o limit #}
        {% set fromPage = p.currentPage > limit ? p.currentPage - limit : 1 %}
        {# Pokud není více než maximální počet stránek, přidame další limit. #}
        {% set toPage = p.lastPage - p.currentPage >= limit ? p.currentPage + limit : p.lastPage %}
        {% for i in fromPage..toPage %}
            {% if i == p.currentPage %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ currentPath }}?page={{ i }}">
                        {{ i }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {# Pokud existuje další stránka, přejděme na ni. #}
        {% if p.hasNextPage %}
            <li class="page-item">
                <a class="page-link" href="{{ currentPath }}?page={{ p.nextPage }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            {# pokud ne, tak deaktivujeme #}
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}